#!/bin/bash
# シェル環境に依存しない環境変数をここで定義します。

# localeについて
# https://man7.org/linux/man-pages/man7/locale.7.html
# LANGは、全local設定（LC_COLLATE, LC_NUMERIC, LC_TIME など、以降LC_XXXとする）のデフォルト設定です。
# LC_XXX は個別で設定でき、設定が行われない場合は、LANGの設定値が使われます。
# LC_ALL=YYY を設定すると、LC_XXXにYYYが設定されます。（これはデフォルト値ではなく、LC_XXXを設定していたとしてもLC_ALLの値が上書きされます）
# 例えば、LANC=C と設定すると、localizationは行われません。
# 各種設定値はlocaleコマンドで確認できます。
# $ locale
# LANG=C
# LC_CTYPE="C"
# LC_NUMERIC="C"
# LC_TIME="C"
# LC_COLLATE="C"
# LC_MONETARY="C"
# LC_MESSAGES="C"
# LC_PAPER="C"
# LC_NAME="C"
# LC_ADDRESS="C"
# LC_TELEPHONE="C"
# LC_MEASUREMENT="C"
# LC_IDENTIFICATION="C"
# LC_ALL=
export LANG=C

export TZ=Asia/Tokyo

# export TERM='xterm-256color'

# XDG Base Directoryとは、様々な設定ファイルをどこに置くべくかを定めた仕様書です。
# XDGとは、freedesktop.orgの昔の呼び名としてX Desktop Group というのがあり、この名残でXDGという名前が使われているだけで特に意味はないです。
# いくつかのツールはこの仕様書に乗っ取って設定ファイルの置き場として、XDG_CONFIG_HOMEを参照して設定ファイルの場所を決定しています。
# これは特に設定しなくても、デフォルトで$HOME/.configが使われるが、明示的にXDG_CONFIG_HOMEを定義しています。
# https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
export XDG_CONFIG_HOME=$HOME/.config

export EDITOR=nvim # エディタをvimに設定します。
export VISUAL=nvim # lessで使うエディタをvimに設定します。

# ----------------------------------------------------------------------------------------------------
# PATHの設定
# ----------------------------------------------------------------------------------------------------
# $HOME/.local/bin :汎用の個人用バイナリ置き場です
_PATH=${HOME}/.local/bin
# ${HOME}/.fzf/bin :fzf用のバイナリ置き場です
_PATH=${_PATH}:${HOME}/.fzf/bin

# ----------------------------------------------------------------------------------------------------
# settings for golang
# ----------------------------------------------------------------------------------------------------
export GOPATH=${HOME}/go
export GOBIN=${GOPATH}/bin
# /usr/local/go/bin :一般的なgoのインストール場所
# ${GOBIN} :go installのインストール場所
_PATH=${_PATH}:/usr/local/go/bin:${GOBIN}
export GO111MODULE=on
# ----------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------
# settings for javascript
# https://github.com/sindresorhus/guides/blob/main/npm-global-without-sudo.md
# mkdir -p "${HOME}/.npm-packages"
# npm config set prefix "${HOME}/.npm-packages"

export NPM_PACKAGES="${HOME}/.npm-packages"
_PATH="${_PATH}:${NPM_PACKAGES}/bin"
# ----------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------
# settings for rust
# ----------------------------------------------------------------------------------------------------
_PATH=${_PATH}:~/.cargo/bin
# ----------------------------------------------------------------------------------------------------

export PATH=${_PATH}:${PATH}
# ----------------------------------------------------------------------------------------------------
