#!/bin/bash
# シェル環境に依存しない環境変数をここで定義します。

# localeについて
# https://man7.org/linux/man-pages/man7/locale.7.html
# LANGは、全local設定（LC_COLLATE, LC_NUMERIC, LC_TIME など、以降LC_XXXとする）のデフォルト設定です。
# LC_XXX は個別で設定でき、設定が行われない場合は、LANGの設定値が使われます。
# LC_ALL=YYY を設定すると、LC_XXXにYYYが設定されます。（これはデフォルト値ではなく、LC_XXXを設定していたとしてもLC_ALLの値が上書きされます）
# 各種設定値はlocaleコマンドで確認できます。
# $ locale
# LANG=C.UTF-8
# LANGUAGE=
# LC_CTYPE="C.UTF-8"
# LC_NUMERIC="C.UTF-8"
# LC_TIME="C.UTF-8"
# LC_COLLATE="C.UTF-8"
# LC_MONETARY="C.UTF-8"
# LC_MESSAGES="C.UTF-8"
# LC_PAPER="C.UTF-8"
# LC_NAME="C.UTF-8"
# LC_ADDRESS="C.UTF-8"
# LC_TELEPHONE="C.UTF-8"
# LC_MEASUREMENT="C.UTF-8"
# LC_IDENTIFICATION="C.UTF-8"
# LC_ALL=C.UTF-8
#
# 設定値の解説
# LANG=C              :localizationを行わない（日本語が文字化けして表示されないので注意）
# LANGL=C.UTF-8       :UTF-8、翻訳なし
# LANG=ja_JP.UTF-8    :UTF-8、日本語翻訳あり（アプリケーションが対応していれば）
export LANG=C.UTF-8
export LC_ALL=C.UTF-8

export TZ=Asia/Tokyo

# export TERM='xterm-256color'

# XDG Base Directoryとは、様々な設定ファイルをどこに置くべくかを定めた仕様書です。
# XDGとは、freedesktop.orgの昔の呼び名としてX Desktop Group というのがあり、この名残でXDGという名前が使われているだけで特に意味はないです。
# いくつかのツールはこの仕様書に乗っ取って設定ファイルの置き場として、XDG_CONFIG_HOMEを参照して設定ファイルの場所を決定しています。
# これは特に設定しなくても、デフォルトで$HOME/.configが使われるが、明示的にXDG_CONFIG_HOMEを定義しています。
# https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
export XDG_CONFIG_HOME=$HOME/.config

export EDITOR=nvim # エディタをvimに設定します。
export VISUAL=nvim # lessで使うエディタをvimに設定します。

# ----------------------------------------------------------------------------------------------------
# PATHの設定
# ----------------------------------------------------------------------------------------------------
# $HOME/.local/bin :汎用の個人用バイナリ置き場です
_PATH=/usr/local/bin:${HOME}/.local/bin:${HOME}/home/env/.venv/bin
# ${HOME}/.fzf/bin :fzf用のバイナリ置き場です
_PATH=${_PATH}:${HOME}/.fzf/bin

# ----------------------------------------------------------------------------------------------------
# settings for golang
# ----------------------------------------------------------------------------------------------------
export GOPATH=${HOME}/go
export GOBIN=${GOPATH}/bin
# /usr/local/go/bin :一般的なgoのインストール場所
# ${GOBIN} :go installのインストール場所
_PATH=${_PATH}:/usr/local/go/bin:${GOBIN}
export GO111MODULE=on
# ----------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------
# settings for javascript
# ----------------------------------------------------------------------------------------------------

# nvm
export NVM_DIR="$HOME/.config/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

# https://github.com/sindresorhus/guides/blob/main/npm-global-without-sudo.md
# mkdir -p "${HOME}/.npm-packages"
# npm config set prefix "${HOME}/.npm-packages"
export NPM_PACKAGES="${HOME}/.npm-packages"
_PATH="${_PATH}:${NPM_PACKAGES}/bin"
# ----------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------
# settings for rust
# ----------------------------------------------------------------------------------------------------
_PATH=${_PATH}:~/.cargo/bin
# ----------------------------------------------------------------------------------------------------

export PATH=${_PATH}:${PATH}
# ----------------------------------------------------------------------------------------------------
